* {
    border: none;
    border-radius: 0;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: #252638;
    color: #ffffff;
    border-bottom: 4px solid #54567b;
    transition-property: background-color;
    transition-duration: .35s;
}

#window {
    font-weight: bold;
    font-family: "Hack";
}

#workspaces button {
    padding: 1 5px;
    margin-right: 4px;
    background-color: #2f324a;
    color: #ffffff;
    border-bottom: 4px solid #53566e;
}

#workspaces button:hover {
    background-color: #2f324a;
    border-bottom: 4px solid #9aebe9;
}

#workspaces button.focused {
    background-color: #2f324a;
    border-bottom: 4px solid #9aebe9;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    border-bottom: 4px solid #9aebe9;
}


#pulseaudio, #cpu, #memory, #battery, #pulseaudio, #tray {
    padding: 0 10px;
    margin: 0 2px;
}

#pulseaudio {
    background-color: #2f324a;
    border-bottom: 4px solid #79ccc2;
}
#cpu {
    background-color: #2f324a;
    border-bottom: 4px solid #fed48f;
}

#memory {
    background-color: #2f324a;
    border-bottom: 4px solid #68f994;
}

#battery {
    background-color: #2f324a;
    border-bottom: 4px solid #f291a1;
}

#tray {
    background-color: #2f324a;
    border-bottom: 4px solid #fd5fcb;
}

#clock {
    font-weight: bold;
    background-color: #2f324a;
    color: #FFFFFF;
    border-bottom: 4px solid #35a17a;
}


#battery.charging, #battery.full, #battery.plugged {

	border-bottom: 4px solid #00a6ff;
}
#battery.warning:not(.charging) {
	color: #e6e600;
	border-bottom: 6px solid #e9ac11;
}
#battery.critical:not(.charging) {
    color: #cc3436;

	border-bottom: 7px solid #cc241d;
}